<section>
  <div class="container container-sm">
    <h1 style="padding-top: 60px;">개인정보처리방침</h1>
    <pre style="white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */">
사회적협동조합 빠띠(이하 ‘회사')는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보보호법 등 관련 법령상의 개인정보 보호 규정을 준수하며, 관련 법령에 따른 개인정보처리방침을 수립하고 이용자의 권익 보호에 최선을 다하고 있습니다.


1. 수집하는 개인정보 항목
회사는 원활한 서비스 제공을 위하여 다음의 개인정보를 수집합니다.

* 개인정보: 성함, 조직명, 직함, 전화번호, 이메일 주소
* 프로젝트 정보: 종류, 개요, 예산, 납품 희망일

서비스 이용 시 다음과 같은 정보가 자동으로 생성되어 수집될 수 있습니다.

* 서비스 이용 기록, 방문 기록, 접속 IP 정보 및 기기, 브라우저 정보, 쿠키 정보


2. 개인정보 수집 방법
회사는 다음과 같은 방법으로 개인정보를 수집합니다.

* 서비스 이용 중 이용자의 자발적 제공을 통한 수집
* 웹사이트, 모바일 앱 이용 중 자동으로 생성되는 정보 수집


3. 개인정보 수집 목적
회사는 다음과 같은 목적으로 개인정보를 수집합니다.
수집된 개인정보는 정해진 목적 이외의 용도로는 이용되지 않습니다.

* 프로젝트(협업) 의뢰 대응: 프로젝트(협업) 의뢰 의사 확인을 위해 사용됩니다.
* 서비스 제공: 회원에게 다양한 부가기능을 제공하기 위해 사용됩니다.
* 마케팅 및 서비스 분석과 개선: 정보 전달 및 마케팅, 광고 등에 사용되며,
  회원의 서비스 이용에 대한 통계, 이를 통한 맞춤형 서비스 제공과 서비스 개선에도 사용됩니다.
* 고객 관리: 분쟁 조정을 위한 기록 보존, 불만처리 등 민원 처리와 공지사항 전달을 위해 사용됩니다.


4. 개인정보 보유 및 이용 기간
회사는 원칙적으로 개인정보 수집 및 이용 목적이 달성되거나 개인정보의 수집 및 이용에 대한 동의 철회 시 이용자의 개인정보를 지체없이 파기합니다.

단, 관계 법령에 의해 보존해야 하는 정보는 보관 장소를 달리하여 법령이 정한 기간 동안 보존합니다. 이때 보관된 개인정보는 법령이 정한 이외의 용도로는 이용되지 않습니다.

* 표시/광고에 관한 기록
  보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률
  보존 기간 : 6개월
* 본인 확인에 관한 기록
  보존 이유 : 정보통신망 이용촉진 및 정보보호 등에 관한 법률
  보존 기간 : 6개월
* 서비스 이용 관련 개인정보(로그인 기록)
  보존 근거: 통신비밀보호법
  보존 기간: 3개월


5. 개인정보의 파기
회사는 개인정보 보유 기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때는 해당 정보를 지체 없이 파기합니다. 개인정보의 파기 절차와 방법은 다음과 같습니다.

* 파기 절차
  파기 사유가 발생한 개인정보를 선정 후 별도 데이터베이스에 저장
  내부 방침과 관련 법령(4. 개인정보 보유 및 이용 기간 참조)에 따라 보존 기간 경과 시 개인정보 보호책임자의 승인 후 파기
* 파기 방법
  전자 파일 형태의 경우 재생 및 복구할 수 없는 기술적인 방법으로 완전하게 삭제
  그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기


6. 정보주체와 법정대리인의 권리와 의무
이용자는 회원 정보 페이지에서 언제든 개인정보를 조회하거나 수정할 수 있습니다. 이용자와 법정대리인은 개인정보 주체로서 회사에 대해 다음과 같은 개인정보 관련 권리를 행사할 수 있습니다.

* 개인정보 열람
* 개인정보 오류에 대한 정정·삭제
* 개인정보 처리정지

권리행사는 이메일(contact@parti.xyz)을 통하여 하실 수 있으며, 회사는 이에 대해 관련 법령에 따라 지체없이 조치하겠습니다. 개인정보의 정정 또는 삭제를 요구한 경우 회사는 정정 또는 삭제할 때까지 개인정보를 이용하지 않습니다.

이용자는 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 비밀번호를 포함한 이용자의 개인정보가 유출되지 않도록 조심해 주십시오.


7. 개인정보 안전성 확보 조치
회사는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.

* 개인정보 암호화
* 해킹 등에 대한 기술적 대책
* 개인정보에 대한 접근 제한
* 개인정보 처리 직원의 최소화 및 교육


8. 개인정보 자동 수집 장치의 설치, 운영 및 거부
회사는 이용자에게 원활한 서비스를 제공하기 위해 이용 정보를 저장하고 수시로 불러오는 쿠키(cookie)를 사용합니다. 쿠키는 서비스를 운영하는데 이용되는 서버가 이용자의 컴퓨터 브라우저에 보내는 소량의 정보로 이용자의 기기에 저장됩니다.

이용자는 쿠키 사용 여부를 선택할 수 있습니다. 단, 쿠키를 저장하지 않으면 서비스 사용에 문제 및 제한이 발생할 수 있습니다.

* 쿠키의 사용 목적
이용자의 기기에 저장된 쿠키의 내용을 읽어 이용자의 환경설정을 유지하고 최적화된 서비스를 제공하기 위해 사용

* 쿠키 설치 및 운영 거부
웹브라우저 상단의 옵션 설정을 통해 쿠키 저장을 거부할 수 있습니다.
- 인터넷 익스플로러: 도구 > 인터넷 옵션 >개인정보 > 설정
- 구글 크롬: 설정 > 고급 설정 > 개인정보 > 콘텐츠 설정


9. 개인정보 보호책임자
회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.

* 개인정보 보호책임자
- 이름: 김영민
- 직책: CSO
- 연락처: dalikim@parti.xyz, 070-4617-2687

개인정보 관련 문의는 개인정보 보호 책임자에게 문의하실 수 있으며, 회사는 이용자의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.


10. 권익침해 구제 방법
회사의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 자세한 도움이 필요하신 경우 아래 기관에 문의하시기 바랍니다.

* 개인정보 침해신고센터(privacy.kisa.or.kr) : (국번 없이) 118
* 개인정보 분쟁조정위원회(www.kopico.go.kr) : (국번 없이) 1833-6972
* 대검찰청 사이버범죄수사단(www.spo.go.kr) : 02-3480-3573
* 경찰청 사이버안전국(cyberbureau.police.go.kr) : (국번 없이) 182


11. 개인정보 처리방침의 시행
개인정보 처리방침은 정부의 법령 및 지침의 변경, 또는 더 나은 서비스의 제공을 위하여 그 내용이 변경될 수 있습니다. 법령 및 방침에 따른 추가, 삭제 및 정정 시 변경사항 시행 7일 전부터 회사의 웹사이트(https://parti.coop)를 통해 고지할 것입니다.


공고 일자: 2019. 10. 21.
시행 일자: 2019. 10. 21.


</pre>
</div>
</section>