body {
	-webkit-text-size-adjust: none;
	font-family: 'Roboto', 'Noto Sans KR','Droid Sans','Malgun Gothic','Helvetica','Apple-Gothic','애플고딕','Tahoma',dotum,'돋움',gulim,'굴림', sans-serif;
  margin-top: $header-height;
  @include media-breakpoint-down(md) {
    margin-top: $header-height-sm;
  }
}

a {
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: $text-color-dark;
    text-decoration: none;
  }

  &.anchor {
    display: block;
    position: relative;
    top: -1 * $header-height;
    @include media-breakpoint-down(md) {
      top: -1 * $header-height-sm;
    }
    visibility: hidden;
  }
}

.container.container-sm {
  @include media-breakpoint-up(lg) {
    width: 720px;
  }
}

.container.container-xs {
  @include media-breakpoint-up(lg) {
    width: 576px;
  }
}

.text-nowrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

.hover\:text-underline:hover {
  text-decoration: underline;
}

.text-keep-all {
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.base-section-title {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: $brand-violet;
  font-weight: 300;
}

.base-section-desc {
  margin-top: 40px;
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
  }
}

section.base-key-visual {
  background-position: center;
  background-size: cover;
  padding-bottom: 80px;
  .base-line {
    border-bottom: 1px solid white;
  }
  .base-title-container {
    height: 450px;
    @include media-breakpoint-down(sm) {
      height: 290px;
      bottom: -8px;
      position: relative;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .base-page-subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: white;
    @extend .text-keep-all;
    @include media-breakpoint-down(sm) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .base-page-title {
    margin-top: 14px;
    font-size: 88px;
    font-weight: 300;
    line-height: 72px;
    letter-spacing: -3.67px;
    color: white;
    @extend .text-keep-all;
    @include media-breakpoint-down(sm) {
      margin-top: 8px;
      font-size: 40px;
      line-height: 48px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
