#notice-modal {
  .modal-body {
    padding: 0;
  }
  p {
    margin: 0;
  }
  .font-bold {
    font-weight: bold;
  }
  .modal-dialog {
    letter-spacing: 0;
    box-shadow: 0px 12px 64px 0px #23252C29;
    border-radius: 12px;
    overflow: hidden;
    width: 90%;
    max-width: 570px;
    background-color: #fff;
    border: 1px solid #E9EBF0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
  }
  
  .modal-content {
    border: none;
  }
  .notice-modal-title {
    font-size: 24px;
    color: #23252C;
    font-weight: bold;
    text-align: center;
    margin: 44px 0;
  }
  .notice-modal-description {
    font-size: 16px;
    color: #434450;
    text-align: center;
    line-height: 1.6;
  }
  .notice-modal-table {
    display: table;
    margin: 36px auto;
    td {
      padding: 10px 0;
    }
  }
  td.notice-modal-label {
    color: #A5A8B4;
    font-weight: bold;
    padding-right: 32px;
  }
  .notice-modal-content {
    color: #23252C;
    font-weight: bold;
    a {
      color: #4D94FF;
      text-decoration: underline;
    }
  }
  .notice-modal-content-box {
    color: #34353D;
    background: #F2F4F7;
    border: 1px solid #C1C5CE;
    border-radius: 10px;
    padding: 24px 32px;
    font-weight: 500;
    line-height: 2;
    .number {
      font-weight: bold;
      color: #797B89;
      margin-right: 8px;
    }
  }
  img {
    max-width: 100%;
  }
  .close-btn-wrap {
    text-align: right;
  }
  .close-btn {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    color: #797B89;
    font-size: 18px;
    &:hover {
      color: #41424A;
    }
  }
}
body.body-pages-home {
  section.key-visual {
    height: 800px;
    background-image: linear-gradient(to right, #36b6a9, #a499c9);
    padding-top: 68px;
    @include media-breakpoint-down(md) {
      height: 520px;
      padding-top: 46px;
    }
    .key-visual-line {
      border-bottom: 1px solid white;
      .mission-text-container {
        height: 127px;
        @include media-breakpoint-down(md) {
          height: 75px;
        }
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        .mission-text {
          font-size: 88px;
          line-height: 68px;
          font-weight: 300;
          letter-spacing: -3.67px;
          color: white;
          @include media-breakpoint-down(md) {
            font-size: 28px;
            font-weight: 500;
            line-height: 23px;
            letter-spacing: -1.5px;
          }
          &.mission-text-serif {
            font-family: 'Noto Serif KR Bold';
            line-height: 113px;
            @include media-breakpoint-down(md) {
              line-height: 44px;
            }
          }
        }
      }
    }
  }

  section.what-we-do {
    padding-top: 120px;
    padding-bottom: 152px;
    border-bottom: 1px solid $gray-c2;

    .categories-container {
      @include media-breakpoint-down(sm) {
        max-width: none;
      }
      .categories {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
          flex-wrap: nowrap;
          overflow-x: auto;
          overflow-y: hidden;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          margin-right: -15px;
          margin-left: -15px;
          padding-bottom: 6px;
          margin-bottom: -6px;
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .category {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        flex: 1 1 auto;
        text-align: center;
        a {
          color: $gray-light;
        }
        &.active a,
        &:hover a {
          color: $text-color;
        }
        @include media-breakpoint-down(md) {
          flex: 0 0 auto;
          padding-left: 15px;
          padding-right: 15px;
          font-size: 16px;
          line-height: 24px;
          &:first-child {
            padding-left: 15px;
          }
        }
        .category-text {
          display: inline-block;
          position: relative;
        }
        &.active .category-text:after,
        &:hover .category-text:after {
          display: inline-block;
          content: ' ';
          position: absolute;
          width: 100%;
          bottom: -6px;
          left: 0;
          height: 4px;
          background-color: $brand-violet;
        }
      }
      .category + .category {
        border-left: 1px solid $gray-light;
      }
    }

    .tiles-container {
      margin-top: 80px;
      display: flex;
      @include media-breakpoint-down(sm) {
        margin-top: 40px;
        flex-direction: column;
      }
      .tiles-column {
        flex: 1;
        .tile-container-lg {
          padding-right: 48px;
          @include media-breakpoint-down(lg) {
            padding-right: 8px;
          }
          @include media-breakpoint-down(sm) {
            padding-right: 0;
            margin-bottom: 32px;
          }
          .tile {
            height: 912px;
            @include media-breakpoint-down(lg) {
              height: 540px;
            }
            @include media-breakpoint-down(sm) {
              height: 328px;
            }
            position: relative;
            .category {
              font-size: 18px;
              font-weight: 300;
              color: white;
              line-height: 26px;
              text-shadow: 0 1px 0 $text-color;
              @include media-breakpoint-down(sm) {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
              }
            }
            .title {
              font-size: 40px;
              font-weight: 500;
              line-height: 48px;
              color: white;
              margin-top: 8px;
              text-shadow: 0 1px 0 $text-color;
              @include media-breakpoint-down(sm) {
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
              }
            }
            .created-at {
              font-size: 12px;
              line-height: 20px;
              margin-top: 24px;
              color: white;
            }
            .tile-meta {
              position: absolute;
              left: 0;
              bottom: 0;
              padding: 40px;
              z-index: 1;
              @include media-breakpoint-down(sm) {
                padding: 16px 30px;
              }
            }
          }
          .tile-cover-container,
          .tile-cover {
            height: 100%;
            overflow: hidden;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            @include media-breakpoint-down(sm) {
              border-radius: 0;
            }
          }
          .tile-cover-container {
            top: 0;
            .tile-cover {
              background-color: $gray-d8;
              width: 100%;
              background-size: cover;
              background-position: top center;
              position: relative;
              transition: all 0.5s ease;
            }
          }
          &:hover .tile-cover-container .tile-cover {
            transform: scale(1.1);
          }
        }
        .tile-container-sm {
          display: inline-block;
          width: 50%;
          padding-left: 48px;
          padding-right: 48px;
          vertical-align: top;
          @include media-breakpoint-down(lg) {
            padding-left: 8px;
            padding-right: 8px;
            &:nth-child(even) {
              padding-right: 16px;
            }
          }
          @include media-breakpoint-down(sm) {
            &:nth-child(odd) {
              padding-left: 16px;
            }
          }
          .tile {
            .tile-cover-container,
            .tile-cover {
              height: 288px;
              border-radius: 8px;
              overflow: hidden;
              @include media-breakpoint-down(sm) {
                height: 117px;
              }
            }
            .tile-cover {
              background-color: $gray-d8;
              background-size: cover;
              background-position: top center;
              transition: all 0.5s ease;
            }
            &:hover .tile-cover-container .tile-cover {
              transform: scale(1.1);
            }
            .tile-meta {
              margin-top: 32px;
            }
            .category {
              font-size: 18px;
              font-weight: 300;
              line-height: 26px;
              color: $brand-cyan;
              @include media-breakpoint-down(sm) {
                font-size: 16px;
                line-height: 24px;
              }
            }
            .title {
              font-size: 24px;
              font-weight: 500;
              line-height: 32px;
              margin-top: 8px;
              @include media-breakpoint-down(sm) {
                font-size: 20px;
                line-height: 28px;
                margin-top: 6px;
              }
            }
            .created-at {
              margin-top: 24px;
              font-size: 12px;
              line-height: 20px;
              margin-bottom: 64px;
              @include media-breakpoint-down(sm) {
                margin-top: 16px;
                margin-bottom: 40px;
              }
            }
          }
        }
      }
    }
  }

  section.solutions {
    padding-top: 120px;
    padding-bottom: 120px;
    .tile-container {
      margin-top: 80px;
      .tile {
        height: 662px;
        border-radius: 8px;
        position: relative;
        background-position: top center;
        background-size: cover;
        @include media-breakpoint-down(sm) {
          height: 450px;
        }
        .tile-meta {
          position: absolute;
          bottom: 94px;
          text-align: center;
          width: 100%;
          @include media-breakpoint-down(sm) {
            bottom: 40px;
          }
          .title {
            color: white;
            font-size: 40px;
            font-weight: 500;
            line-height: 48px;
            margin-top: 8px;
            text-shadow: 0 1px 0 $text-color;
            @include media-breakpoint-down(sm) {
              font-size: 28px;
              line-height: 36px;
            }
          }
          .subtitle {
            height: 38px;
            border-radius: 19px;
            background-color: $brand-cyan;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: white;
            line-height: 38px;
            padding: 0 24px;
          }
        }
      }
    }
  }
}
.body-pages-parti2022 {
  .activists,
  .notice,
  .contacts {
    display: none !important;
  }
  padding-bottom: 60px;
  @media (min-width: 768px){
    padding-bottom: 120px;
  }
}
.parti2022 {
  font-family: 'azo-sans-web', 'Black han sans', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  color: black;
  @media (min-width: 768px){
    font-size: 17px;
  }

  .content {
      width: auto;
      margin: 0 20px;
    @media (min-width: 440px){
      margin: 0 auto;
      max-width: 80%;
    }
    @media (min-width: 768px){
      margin: 0 auto;
      max-width: 640px;
    }
    @media (min-width: 1024px){
      max-width: 920px;
    }
    @media (min-width: 1280px){
      max-width: 1120px;
    }
  }
  .pc {
    display: none;
    @media (min-width: 1024px){
      display: block;
    }
  }
  .mobile {
    @media (min-width: 1024px){
      display: none !important;
    }
  }  
  .paragraph {
    font-family: 'roboto','Noto Sans KR';
  }

  img {
    max-width: 100%;
  }
  p {
    margin: 0;
  }
  strong {
    font-weight: bold;
  }
  .flex {
    display: flex;
  }
  .flex-grow {
    flex-grow: 1;
  }
  .inline {
    display: inline;
  }
  .inline-block {
    display: inline-block;
  }
  .block {
    display: block;
  }
  .flex-1024 {
    @media (min-width: 1024px){
      display: flex;
    }
  }
  @media (min-width: 1024px){
    .half {
      width: 50%;
    }
  }
  .section1 {
    .pc img {
      margin-left: -56px;
    }
    .info {
      font-size: 22px;
      line-height: 2;
      text-align: right;
      .date {
        font-size: 24px;
        display: block;
      }
      .youtube {
        display: inline-block;
        font-size: 14px;
        border-radius: 50px;
        color: #fff;
        background-color: #FB4D42;
        line-height: normal;
        vertical-align: 3px;
        margin-left: 16px;
        &:after {
          content: '';
          display: inline-block;
          width: 15px;
          height: 20px;
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: left center;
          vertical-align: -2px;
          background-image: asset_url("parti2022_youtube-arrow.png");
          margin-left: 8px;
        }
        @media (min-width: 768px){
          font-size: 28px;
          padding: 8px 18px 6px;
          &:after {          
            height: 24px;
          }
        }
      }
      @media (min-width: 768px){
        font-size: 32px;
        margin: 80px 0 0;

        .date {
          font-size: 36px;
        }
      }
    }
  }
  .section3 {
    .message {
      color: #797B7E;
      font-weight: bold;
      font-family: "Noto Sans KR";
      font-size: 14px;
      margin-top: 20px;
      text-align: center;
    }
    .townhall_link {
      color: #fff;
      width: 100%;
      background-color: black;
      text-align: center;
      display: block;
      margin-top: 60px;
      font-size: 24px;
      line-height: 2.4;
      transition: all 0.4s;
      border: 4px solid transparent;
      &.fixed {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 28px;
        z-index: 10;
        margin: 0;
      }
      &:hover {
        color: black;
        background-color: #fff;
        border: 4px solid black;
      }
    }
    .content {
      position: relative;
      margin-top: 60px;
      border-top: 4px solid #000;
    }
    .date {
      font-size: 20px;
      position: absolute;
      top: -22px;
      right: 0;
      background-color: #fff;
    }
    .people {
      font-size: 20px;
      padding: 16px 0 24px
    }
    .title {
      font-size: 32px;
      margin: 32px 0 20px;
      line-height: 1.2;
      // .small-text {
      //   font-size: 28px;
      // }
    }
    .intro {
      font-size: 14px;
      line-height: 1.8;
    }
    .date_img {
      max-height: 80px;
      margin: 30px 0 0;
    }
    @media (min-width: 460px){
      .inline-block-460 {
        display: inline-block;
      }
    }
    @media (min-width: 768px){
      .message {
        font-size: 16px;
      }
      .townhall_link {
        font-size: 40px;
        margin-top: 100px;
        &.fixed {
          font-size: 44px;
        }
      }
      .content {
        border-top: 6px solid #000;
        margin-top: 120px;
      }
      .date {
        font-size: 32px;
        top: -36px;        
      }
      .people {
        font-size: 32px;
        padding: 20px 0 40px;
      }
      .title {
        font-size: 48px;
        margin: 0 0 40px;
        // .small-text {
        //   font-size: 42px;
        // }
      }
      .intro {
        font-size: 16px;
        // width: 540px;
        max-width: 100%;
      }
      .date_img {
        margin: 48px 0 40px;
        max-height: 120px;
      }
      .flex-768 {
        display: flex;
      }
    }
    @media (min-width: 1024px){
      .intro {
        padding-right: 80px;
      }
      .text-left-1024 {
        text-align: left;
      }
      .left {
        width: 56%;
        flex-shrink: 0;
      }
    }
    .time-table-date {
      text-align: right;
      margin-top: 20px;
      margin-bottom: 4px;
      font-weight: 900;
      font-size: 22px;
    }
    .time-table {
      font-size: 13px;
      padding-bottom: 32px;
      font-weight: 900;
      padding-top: 40px;
    }
    .table-row {
      position: relative;
      border-top: 2px solid #222;
      &:first-child {
        @media (min-width: 1024px){
          border-top: none;
        }
      }
      margin-top: 20px;
      padding-top: 12px;
      &:first-child {
        margin-top: 0;
      } 
    }
    .session-border {
      border-top: 1px solid #C4C6C8;
      margin-top: 20px;
      padding-top: 12px;
    }
    .show {
      .foldable {
        max-height: 500px;
      }
    }
    .session {
      cursor: pointer;
      position: relative;

      &:before {
        content: '더보기';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 14px;
        background-image: asset_url('parti2022_arrow-down');
        background-repeat: no-repeat;
        background-size: auto 10px;
        background-position: center top;
        font-size: 12px;
      }
    }
    .show .session {
      &:before {
        display: none;
      }
      &:after {
        content:'접기';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 16px;
        background-image: asset_url('parti2022_arrow-up');
        background-repeat: no-repeat;
        background-size: auto 12px;
        background-position: center top;
        font-size: 12px;
      }
    }
    .foldable {
      max-height: 0;
      transition: max-height 0.4s;
      overflow: hidden;
      font-weight: normal;
    }
    .padding {
      background-color: #F9F9FA;
      border-radius: 20px;
    }
    .desc {
      color: #6148E4;
      font-weight: 500;
    }
    .subject {
      font-size: 18px;
      line-height: 1.44;
    }
    .session .small-text {
      color: #777;
      margin-top: 6px;
      font-weight: bold;
      a {
        border-bottom: 1px solid #999;
        color: #777;
        &:after {
          content: '〉';
          display: inline-block;
          margin-left: 4px;
          font-size: 12px;
          letter-spacing: -6.2px;
        }
      }
    }
    .time {
      font-size: 20px;
      margin-bottom: 12px;
    }
    .padding {
      margin-top: 20px;
      padding: 20px;
    }
    .desc {
      margin-bottom: 20px;
    }
    .subject {
      width: calc(100% - 48px);
    }
    @media (min-width: 768px){
      .time-table-date {
        font-size: 28px;
        margin-bottom: 12px;
      }
      .time-table {
        font-size: 14px;
        padding-top: 64px;
      }
      .table-row {
        margin-top: 32px;
        padding-top: 20px;
      }
      .subject {
        font-size: 20px;
      }
      .session {
        &:before,
        &:after {
          font-size: 12px;
          background-size: auto 12;
          padding-top: 16px;
        }
        .small-text {
          margin-top: 6px;
        }
      }
      .time {
        flex-shrink: 0;
        width: 180px;
      }

      .padding {
        margin-top: 20px;
        padding: 32px;
      }
      .desc {
        margin-bottom: 20px;
      }
      .half {
        padding-right: 32px;
      }
    }
    @media (min-width: 1024px){
      .time {
        width: 190px;
      }
      .time-table {
        padding-top: 20px;
      }
      .foldable {
        padding-left: 0;
      }
    }
    .community {
      margin: 0 0 56px;
      align-items: start;

      .flex {
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 36px;

        img {
          max-height: 42px;
        }        
      }

      @media (min-width: 768px){
        margin: 0 0 100px;

        .flex {
          justify-content: space-between;
          column-gap: 62px;
          img {
            max-height: none;
          }
        }
      }
    }     
  }

  .section5 {
    color: #fff;
    background-color: #6F4BF9;
    .title {
      font-size: 28px;
      line-height: 1.4;
      padding-top: 30px;
      .small-text {
        font-size: 22px;
      }
      .paragraph {
        opacity: 0.8;
        font-weight: bold;
        margin: 20px 0;
        line-height: 1.7;
        font-size: 14px;
      }
    }
    .paragraph {
      font-weight: 500;
    }
    .content-expand {
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
    .half-1024 {
      width: 100%;
      @media (min-width: 1024px){
        width: 50%;
      }
    }
    .flex-768 {
      width: 100%;
      @media (min-width: 768px){
        display: flex;
      }
    }
    .half-768 {
      width: 100%;
      @media (min-width: 768px){
        width: 50%;
      }
    }
    .subject {
      font-size: 40px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
    .tag {
      font-size: 16px;
      font-family: 'Noto Sans KR';
      font-weight: bold;
      .inline-block {
        padding: 5px;
        background-color: black;
        color: #fff;
        margin-top: 4px;
      }
      margin-top: 32px;
    }
    .circle {
      width: 100%;
      border-radius: 50%;
      background-color: black;
      color: #fff;
      font-size: 17px;
      .tag .inline-block{
        background-color: #fff;
        color: black;
      }
      .paragraph {
        font-weight: bold;
      }
      position: relative;
      padding-bottom: 100%;
    }
    .half-circle {
      width: 100%;
      border-radius: 50% 0 0 50%;
      font-size: 20px;
      background-color: #4CCDC1;
      color: black;
      font-size: 17px;
      position: relative;
      padding-bottom: 100%;
    }
    .quarter-circle {
      width: 100%;
      border-radius: 50% 0 0 0;
      background-color: #fff;
      color: black;
      font-size: 17px;
      position: relative;
      padding-top: 100%;
    }
    .text-wrap {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      min-width: max-content;
    }
    @media (max-width: 640px){
      .subject {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .paragraph {
        font-size: 14px;
      }
      .tag {
        font-size: 12px;
        .inline-block {
          padding: 2px 4px;
          margin-top: 4px;
        }
        margin-top: 18px;
      }
      .text-wrap {
        min-width: auto;
        left: 20%;
        right: 9%;
        transform: translateY(-50%);
      }
    }
    @media (max-width: 360px){
      .subject {
        font-size: 22px;
      }
      .half-circle .text-wrap,
      .qurter-circle .text-wrap {
        right: 0;
      }
    }
    @media (min-width: 768px){
      .title {
        font-size: 48px;
        padding-top: 60px;
        .small-text {
          font-size: 32px;
        }
        .paragraph {
          font-size: 16px;
          width: 660px;
          margin: 40px 0 64px;
        }
      }
    }
    @media (min-width: 1024px){
      .quarter-circle-wrap {
        position: relative;
        padding-bottom: 40%;
        overflow: hidden;
      }
      .quarter-circle {
        border-radius: 25% 0 0 0;
        position: absolute; 
        left: 0;
        top: 0;
        font-size: 20px;
      }
      .text-wrap.flex-1024 {
        width: 80%;
        top: 20%;
        gap: 80px;
      }
      .half-circle .text-wrap {
        padding-left: 50px;
      }
    }
  }
  .section6 {
    background-color: #222;
    color: #fff;
    .paragraph {
      color: rgba(255,255,255,0.85);
    }
    .mail_link {
      text-decoration: underline;
      color: rgba(255,255,255,0.85);
    }
  }
  .section7 {
    background-color: #4CCDC1;
    color: black;
    .paragraph {
      font-weight: 500;
    }
    .donation_link {
      border: 2px solid black;
      font-weight: bold;
      padding: 0 12px;
      line-height: 2.2;
      font-size: 16px;
      display: inline-block;
      margin-top: 16px;
      &:after {
        content: '';
        width: 10px;
        height: 17px;
        display: inline-block;
        background-image: asset_url("parti2022_donation-arrow.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        vertical-align: -2px;
        margin-left: 8px;
      }
    }
  }
  .section6,
  .section7 {
    padding: 40px 0 56px;
    .title {
      min-width: max-content;
      font-size: 26px;
      margin-bottom: 16px;
    }
    .paragraph {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 500;
    }
    @media (min-width: 768px){
      padding: 80px 0;
      .title {
        font-size: 40px;
        margin-bottom: 0;
        margin-top: -10px;
      }
      .flex-768 {
        display: flex;
        gap: 80px;
      }
      .paragraph {
        font-size: 16px;
      }
    }
  }
}
.parti2022-banner {
  border: 6px solid black;
  padding: 20px 10px;
  img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }
}