body.body-solutions {
  section.descriptions {
    padding-top: 80px;
    padding-bottom: 80px;
    .lead {
      font-size: 40px;
      font-weight: 300;
      line-height: 48px;
      @include media-breakpoint-down(xs) {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .remark {
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      @include media-breakpoint-down(xs) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  section.tiles {
    .tiles-title-line {
      overflow-x: hidden;
      overflow-y: auto;
      > .container:before {
        content: ' ';
        height: 1px;
        width: 10000px;
        background-color: #7463ad;
        display: block;
      }
      .tiles-title {
        padding-top: 24px;
        font-size: 32px;
        font-weight: 300;
        line-height: 40px;
        color: $brand-violet;
        margin-bottom: 40px;
        @include media-breakpoint-down(xs) {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
  }
  section.tiles-portfolio {
    .tiles-container {
      .tile-container {
        display: inline-block;
        width: 50%;
        margin-bottom: 120px;
        display: inline-block;
        @include media-breakpoint-down(xs) {
          width: 100%;
          margin-bottom: 80px;
        }
        &:nth-child(odd) {
          padding-right: 12px;
          @include media-breakpoint-down(xs) {
            padding-right: 0;
          }
        }
        &:nth-child(even) {
          padding-left: 12px;
          @include media-breakpoint-down(xs) {
            padding-left: 0;
          }
        }
        .tile-cover-container,
        .tile-cover {
          height: 324px;
          overflow: hidden;
          border-radius: 8px;
        }
        .tile-cover {
          height: 324px;
          border-radius: 8px;
          background-color: $gray-d8;
          background-position: top center;
          background-size: cover;
          transition: all 0.5s ease;
          @include media-breakpoint-down(xs) {
            height: 185px;
          }
        }
        &:hover .tile-cover-container .tile-cover {
          transform: scale(1.3);
        }
        .tile-meta {
          margin-top: 24px;
          display: flex;
          @include media-breakpoint-down(sm) {
            flex-direction: column;
          }
          .title {
            font-size: 24px;
            font-weight: 500;
            flex: 1;
            padding-right: 12px;
            @include media-breakpoint-down(sm) {
              padding-right: 0;
              font-size: 20px;
              line-height: 28px;
            }
          }
          .body {
            flex: 1;
            padding-left: 12px;
            font-size: 16px;
            line-height: 24px;
            @include media-breakpoint-down(sm) {
              padding-left: 0;
              margin-top: 24px;
              font-size: 14px;
              line-height: 22px;
            }
            a {
              color: $brand-violet;
            }
          }
        }
      }
    }
  }

  section.tiles-what-we-do {
    padding-bottom: 170px;
    @include media-breakpoint-down(xs) {
      .container.container-full {
        max-width: none;
        & > * {
          margin-left: -15px;
          padding-left: 15px;
          margin-right: -15px;
          padding-right: 15px;
        }
      }
    }
    .tiles-container {
      margin-left: -12px;
      margin-right: -12px;
      @include media-breakpoint-down(xs) {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        display: flex;
        &::-webkit-scrollbar {
          display:none;
        }
      }
      .tile-container {
        @include media-breakpoint-down(xs) {
          width: 246px;
        }
        &:last-child {
          @include media-breakpoint-down(xs) {
            padding-right: 15px;
          }
        }
        width: 25%;
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
        vertical-align: top;
        @include media-breakpoint-down(sm) {
          width: 50%;
          padding-bottom: 24px;
        }
        @include media-breakpoint-down(xs) {
          flex: 0 0 auto;
          width: 246px;
          padding-bottom: 0;
        }
        .tile {
          border: 1px solid $gray-c2;
          height: 200px;
          padding: 32px 24px;
          border-radius: 8px;
          .tile-meta {
            height: 100%;
            position: relative;
            .title {
              font-size: 21px;
              font-weight: 500;
              line-height: 32px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              max-height: 96px;
            }
            .created-at {
              font-size: 12px;
              line-height: 20px;
              color: $gray-light;
              position: absolute;
              bottom: 0;
            }
          }
          &.tile-more {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .more-link,
            .more-icon {
              color: $brand-violet;
              font-size: 18px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }
}

body.body-solutions-demos {
  section.base-key-visual {
    background-image: linear-gradient(to right, #36b6a901, #a499c9aa), asset_url('demos-key-visual.png');
    @include media-breakpoint-down(sm) {
      background-image: linear-gradient(to right, #36b6a901, #a499c9aa), asset_url('demos-key-visual-sm.png');
    }
  }
}

body.body-solutions-campaign {
  section.base-key-visual {
    background-image: linear-gradient(to right, #36b6a901, #a499c9aa), asset_url('campaign-key-visual.png');
    @include media-breakpoint-down(sm) {
      background-image: linear-gradient(to right, #36b6a901, #a499c9aa), asset_url('campaign-key-visual-sm.png');
    }
  }
}

body.body-solutions-org {
  section.base-key-visual {
    background-image: linear-gradient(to right, #36b6a901, #a499c9aa), asset_url('org-key-visual.png');
    @include media-breakpoint-down(sm) {
      background-image: linear-gradient(to right, #36b6a901, #a499c9aa), asset_url('org-key-visual-sm.png');
    }
  }
}

body.body-solutions-soft {
  section.base-key-visual {
    background-image: linear-gradient(to right, #36b6a901, #a499c9aa), asset_url('soft-key-visual.png');
    @include media-breakpoint-down(sm) {
      background-image: linear-gradient(to right, #36b6a901, #a499c9aa), asset_url('soft-key-visual-sm.png');
    }
  }
}