$header-height: 83px;
$header-height-sm: 73px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 770px,
  lg: 992px,
  xl: 1360px
);
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px
// ) !default;

$container-max-widths: (
  sm: 768px,
  md: 960px,
  lg: 960px,
  xl: 1300px
);

// sm: 540px,
// md: 720px,
// lg: 960px,
// xl: 1140px

$gray-light: #6d7278;
$gray-c2: #c2c2c2;
$gray-d8: #d8d8d8;
$brand-cyan : #1e988c;
$brand-violet: #7463ad;
$brand-violet-light: #d0c7f1;

$text-color: #111111;
$text-color-dark: #000;

$theme-colors: (
  "primary": $brand-violet,
);

// vendors
@import "bootstrap";
@import "aos";

// base
@import "font";
@import "base";

// components
@import "header";
@import "footer";
@import "home";
@import "what_we_do";
@import "solutions";
@import "contacts";
