- msg = [msg] unless msg.respond_to?(:each)
- msg.each do |msg_item|
  .toast.ml-auto.js-toast{ role: 'alert', "data-delay": "300000" }
    .toast-header.text-white{ class: bootstrap_class_for_flash(type) }
      %strong.mr-auto= i18n_for_flash(type)
      %button.ml-2.mb-1.close{ "aria-label": "Close", "data-dismiss": "toast", type: "button" }
        %span.text-white{ "aria-hidden": "true" }
          &times;
    .toast-body
      = msg_item