%div.position-fixed.d-flex.flex-column.p-4#site-flashs-top{ "aria-atomic": "true", "aria-live": "polite", "data-autohide": "false", "style": "z-index: 1;" }
  - flash.each do |type, msg|
    = render 'application/flash_item', type: type, msg: msg

%div.position-fixed.d-flex.flex-column.p-4#site-flashs-bottom{ "aria-atomic": "true", "aria-live": "polite", "data-autohide": "false", "style": "z-index: 1; bottom: 0; right: 0;" }
