%nav.app-nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-white
  %a.navbar-brand{ href: root_url }
    = image_tag 'header-logo.png'
  %button.navbar-toggler(aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarCollapse" data-toggle="collapse" type="button")
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav.mt-2.ml-lg-auto.d-lg-flex.d-sm-flex
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{ href: '#', id: 'header-navbar-dropdown', role: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
          우리가 하는 일
        .dropdown-menu{ 'aria-labelledby': 'header-navbar-dropdown' }
          - Solution::DICTIONARY.each do |_, solution_info|
            %a.dropdown-item{ href: send(solution_info[:path_text]) }
              != solution_info[:title]
      %li.nav-item
        %a.nav-link{ href: send(Platform::INFO[:path_text]) }
          민주주의 플랫폼
      %li.nav-item
        %a.nav-link{ href: camp_path }
          민주주의 캠프
      %li.nav-item
        %a.nav-link{ href: what_we_do_path } 소식
      %li.nav-item
        %a.nav-link{ href: new_contact_path } 협업 문의
      %li.nav-item
        %a.nav-link{ href: "https://secure.donus.org/parti/pay", target: "_blank" } 후원하기
    -# %form.form-inline.mt-2.mt-md-0
    -#   %input.form-control.mr-sm-2(aria-label="Search" placeholder="Search" type="text")/
    -#   %button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
