%nav.app-nav.navbar.navbar-expand-lg.navbar-light.fixed-top.bg-white
  %a.navbar-brand(href="#")
    = image_tag 'header-logo.png'
  %button.navbar-toggler(aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarCollapse" data-toggle="collapse" type="button")
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav.mt-2.ml-lg-auto.d-lg-flex.d-sm-flex
      %li.nav-item
        -# .active
        %a.nav-link(href="#")
          우리가 하는 일
      %li.nav-item
        %a.nav-link(href="#") 디지털 솔루션
      %li.nav-item
        %a.nav-link(href="#") 협업문의
    -# %form.form-inline.mt-2.mt-md-0
    -#   %input.form-control.mr-sm-2(aria-label="Search" placeholder="Search" type="text")/
    -#   %button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search