- content = capture do
  %section.descriptions
    .container
      %p.lead.text-keep-all
        시민 누구나
        %br
        %span.text-nowrap 캠페인을 하는 세상을
        만듭니다.

  %section.tiles.tiles-with
    .tiles-title-line
      .container
        .tiles-title
          함께하는 일
    .container
      .tiles-container<>
        .tile
          .tile-meta
            .title
              캠페인 기획과 협업
            .body.text-keep-all
              시민주도 캠페인을 발굴하고, 파트너들과 함께 다양한 방식의 캠페인을 합니다.
        .tile
          .tile-meta
            .title
              캠페인 교육 워크숍
            .body.text-keep-all
              누구나 시민주도 캠페인을 쉽게 할 수 있도록 하는 교육과 워크숍을 제공합니다.
= render 'solutions/show', slug: @slug, info: @info, content: content