- content = capture do
  %section.descriptions
    .container
      %p.lead.text-keep-all
        다양한 시민의 참여를 모으고, 
        %br
        촉구 대상에게 답변을 요구하는 캠페인을 만듭니다. 
      %p
        %ul
          %li.remark.text-keep-all 시민의 목소리로 세상을 바꾸는 캠페인을 만듭니다.
          %li.remark.text-keep-all 다양하고 창의적인 시민참여 활동을 온오프라인으로 펼칩니다.
          %li.remark.text-keep-all 시민 및 단체와 유기적인 협업으로 더 큰 변화를 만듭니다.

= render 'solutions/show', info: @info, content: content

