- content = capture do
  %section.descriptions
    .container
      %p.lead.text-keep-all
        정부, 기관, 단체의 
        %span.text-nowrap 기관 주도 공론장 
        등 
        %br
        시민&middot;이해관계자 
        %span.text-nowrap 참여 플랫폼을 
        O2O 방식으로 
        %br
        기획, 운영하여 
        %span.text-nowrap 더 나은 민주주의를 
        실현합니다.
      %p.remark.text-keep-all
        * O2O란?
        %br
        Online to Offline, Offline to Online의 약자로 온오프라인의 경계를 넘나드는 빠띠의 활동 영역을 나타냅니다.

= render 'solutions/show', info: @info, content: content