- content = capture do
  %section.descriptions
    .container
      %p.lead.text-keep-all
        이해관계자들이
        %span.text-nowrap 더 많이 소통하고
        %br
        협력하는 공론장을 만듭니다.

  %section.tiles.tiles-with
    .tiles-title-line
      .container
        .tiles-title
          함께 하는 일
    .container
      .tiles-container<>
        .tile
          .tile-meta
            .title
              공론장&middot;시민참여 플랫폼
            .body.text-keep-all
              다양한 이해관계자가 참여하는 협력적 공론장을 만듭니다.
              %br
              기관과 조직의 시민참여플랫폼을 기획하고 운영합니다.
              %br
              온라인과 오프라인을 연계한, 크고 작은 공론장을 만듭니다.
        .tile
          .tile-meta
            .title
              교육 및 워크숍
            .body.text-keep-all
              공론장 툴킷과 플랫폼을 바탕으로 다양한 워크숍과 교육을 기획하고 운영합니다.
        .tile
          .tile-meta
            .title
              컨설팅&middot;자문
            .body.text-keep-all
              공론장이나 시민참여플랫폼을 운영하는 기관과 조직을 대상으로 컨설팅 및 자문을 제공합니다.
        .tile
          .tile-meta
            .title
              네트워크
            .body.text-keep-all
              더 나은 세상을 만드는 다양한 커뮤니티 활동가들을 연결합니다.
              %br
              %a(href= "https://democracy-activists.parti.xyz/" class="text-primary")
                커뮤니티 활동가 네트워크 참여하기
                %i.fa.fa-arrow-right
= render 'solutions/show', slug: @slug, info: @info, content: content