- content = capture do
  %section.descriptions
    .container
      %p.lead.text-keep-all
        이슈를 중심으로 다양한 해결책을 
        %br
        공동 생산하는 열린 커뮤니티를 만듭니다.

= render 'solutions/show', info: @info, content: content