- content = capture do
  %section.descriptions
    .container
      %p.lead.text-keep-all
        일상과 세상을
        %br
        더 민주적으로 만드는 빠띠의 플랫폼

= render 'solutions/show', slug: @slug, info: @info, content: content